
<body>
    <h1><%= topicHead %></h1>
    <form name="form1" method="POST" action="/pyth/start_python">
    <table>
        <tr>
        <td>First name</td>
        <td><input type="text" name="arg1" ></td>
        </tr>
        <tr>
        <td>last name</td>
        <td><input type="text" name="arg2" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>
  
</body>
